:root {
    --light-orange-hs: #EA580C;
    --orange:#CB4E0B;
    --dark-orange:#C2410C;
    --grey: #C1C4C8;
}

body {
    background-color: #F2F6FA;
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

.container {  
    margin: 0 auto;
    max-width: 1700px;
    padding: 3rem 1rem;
}
h2 {
   font-size: 1.75rem; 
   font-weight: 700;
   line-height: 1.5;
   border-left: .1875rem solid var(--orange);
   border-bottom: .125rem solid var(--orange);
    width: max-content;
    margin-bottom: 1.5rem;
    padding-left: 0.25rem;
}

p { 
    font-size: 1rem;
   margin-bottom: 2rem;
}

legend {
    font-size: 1rem;
    margin-bottom: 1rem;
  
}

label {
    font-size: 1rem;
}

form {
    background-color:#ffffff ;
    padding: 2rem 1rem;
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 70%;
}

.container {
    margin: 3rem 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

form label:not(input[type="radio"] + label, input[type="checkbox"] + label) {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    line-height: 1.5;
}


form input:not([type="radio"], [type="checkbox"], [type="submit"]),
textarea {
    border: .0625rem solid var(--grey);
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

form fieldset div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form fieldset label {
    padding: 1.0625rem;
    border-radius: .5rem;
    border: 1px solid #c1c4c8;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: calc((37rem - 100%) * 999);
    min-inline-size: min(100%, 15rem);
    max-inline-size: 100%;
    white-space: nowrap;
    text-align: center;
}

span {
    margin-right: 1rem;
}

fieldset label:has(input[type="radio"]:checked) {
    background-color: var(--light-orange-hs);
    color: #fff;
}

form textarea {
    max-height: 16rem;
    min-height: 5rem;
    resize: vertical;
}

input[type="submit"] {
       display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-orange);
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 100%;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--light-orange-hs);
}

@media (min-width:740px){
    .inner-header-container {
        display: flex;
        gap: 1rem;
    }
    img {
        width: 60%;
    }
  
}

@media (min-width: 1200px) {
    .container {
        display: flex;
        gap: 2.5rem;
    }

    .inner-header-container {
        flex: 0 0 30%;
        flex-direction: column;
    }

    img {
        width: 100%;
    }
}

@media (min-width: 1660px) {
    .container {
        max-width: 90.375rem;
        margin: 0 auto;
        padding: 3rem 0;
    }
}
